################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SpeedyPass/.vs/SpeedyPass/v16/Server/sqlite3
